.center {
    text-align: center;
}
.action {
    padding-left: 10px;
    text-align: left;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    font-family: 'Open Sans Condensed', sans-serif;
}
#hotbod {
    background-color: #4e5d6c;
    margin-left: 0px;
    margin-right: 0px;
}
#main-heading {
    color: #ed9827;
}
table {
    border-spacing: 0px 1px;
}
tr:first-child {
    background-color: rgb(144, 159, 175);;
}
td {
    padding: none;
}
td:nth-child(2) {
    background-color: white;
}
td:nth-child(3) {
    background-color: orange;
}
input {
    background-color: inherit;
    border: none;
    width: 10%;
}
